<div class="container-fluid">
  <br/>

  <div class="card ">
    <h1 class="card-header">
      Monitoring and Planning Module (Farmer)
    </h1>
    <table class="table table-striped" style="width: 100%">
      <thead class= "table-header">
          <tr>
              <th>Farm Name</th>
              <th>Remarks</th>
              <th>Risk Level</th>
              <th>Mineral Level</th>
              <th>Soil Level</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let listing of listings">
              <td>{{listing.farmName}}</td>
              <td>{{listing.remarks}}</td>
              <td>{{listing.riskLevel}}</td>
              <td>{{listing.mineralLevel}}</td>
              <td>{{listing.soilLevel}}</td>
          </tr>
          <tr *ngIf = '!listings || listings.length == 0'>
            <td class='text-center' colspan=12>
              No Record(s) Found.
            </td>
          </tr>
      </tbody>
  </table>

  </div>
</div>
