<div class="container-fluid">
  <br/>

  <div class="card ">
    <h1 class="card-header">
      Farm Working Request (Accept/Reject Requests)
    </h1>
    <div class="card-body">

        <br>

        <table class="table table-striped" style="width: 100%">
          <thead class= "table-header">
              <tr>
                  <!-- <th>Request ID</th> -->
                  <th>Farm Name</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Booked By</th>
                  <th>Worker</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let request of requests">
                  <!-- <td>{{request.requestId}}</td> -->
                  <td>{{request.name}}</td>
                  <td>{{request.fromDate | date}}</td>
                  <td>{{request.toDate | date}}</td>
                  <td>{{request.bookedBy}}</td>
                  <td>{{request.worker}}</td>
                  <td>{{request.status === 'P' ? 'Pending' :
                        request.status === 'A' ?  'Accepted':
                        'Rejected' }}</td>
                  <td ><button class="btn btn-success"
                    *ngIf="request.status !== 'A' && request.status !== 'R'"
                    (click)="acceptRejectRequest(request, 'A')">Accept Request</button></td>
                  <td ><button class="btn btn-danger"
                      *ngIf="request.status !== 'A' && request.status !== 'R'"
                      (click)="acceptRejectRequest(request, 'R')">Reject Request</button></td>
              </tr>
              <tr *ngIf = '!requests || requests.length == 0'>
                <td class='text-center' colspan=12>
                  No Record(s) Found.
                </td>
              </tr>
          </tbody>
      </table>


    </div>

  </div>

  <div class="card ">
    <h1 class="card-header">
      Farm Working Request (Current Status)
    </h1>
    <div class="card-body">

        <br>

        <table class="table table-striped" style="width: 100%">
          <thead class= "table-header">
              <tr>
                  <th>Listing Name</th>
                  <!-- <th>Price</th> -->
                  <th>From Date</th>
                  <th>To Date</th>
                  <!-- <th>Area (sqm)</th> -->
                  <th>Type</th>
                  <th>Is Booked?</th>
                  <th>Booked By</th>
                  <th>Pending Worker List</th>
                  <th>Confirmed Worker List</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let listing of listings">
                  <td>{{listing.name}}</td>
                  <!-- <td>{{listing.price}}</td> -->
                  <td>{{listing.fromDate | date}}</td>
                  <td>{{listing.toDate | date}}</td>
                  <!-- <td>{{listing.area}}</td> -->
                  <td>{{listing.type}}</td>
                  <td>{{listing.book ? "Booked" : "Not Booked"}}</td>
                  <td>{{listing.bookedBy}}</td>
                  <td>{{listing.pendingList}}</td>
                  <td>{{listing.confirmList}}</td>
              </tr>
              <tr *ngIf = '!listings || listings.length == 0'>
                <td class='text-center' colspan=12>
                  No Record(s) Found.
                </td>
              </tr>
          </tbody>
      </table>


    </div>

  </div>
</div>
