<div class="container-fluid">
  <br/>

  <div class="card ">
    <h1 class="card-header">
      Farm Booking Listing (Submit Farm Booking)
    </h1>
    <div class="card-body">

        <br>

        <table class="table table-striped" style="width: 100%">
          <thead class= "table-header">
              <tr>
                  <th>Listing Name</th>
                  <th>Price</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Area</th>
                  <th>Type</th>
                  <th>Is Booked?</th>
                  <th>Booked By</th>
                  <th></th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let listing of listings">
                  <td>{{listing.name}}</td>
                  <td>{{listing.price}}</td>
                  <td>{{listing.fromDate | date}}</td>
                  <td>{{listing.toDate | date}}</td>
                  <td>{{listing.area}}</td>
                  <td>{{listing.type}}</td>
                  <td>{{listing.book ? "Booked" : "Not Booked"}}</td>
                  <td>{{listing.bookedBy}}</td>
                  <td><button class="btn btn-success" *ngIf="!listing.book"
                    (click)="viewListing(listing)">Book Listing</button></td>
                  <td><button class="btn btn-warning" *ngIf="!listing.book"
                    (click)="addInventory(listing)">Add Inventory</button></td>
              </tr>
              <tr *ngIf = '!listings || listings.length == 0'>
                <td class='text-center' colspan=12>
                  No Record(s) Found.
                </td>
              </tr>
          </tbody>
      </table>


    </div>

  </div>
</div>
